<!DOCTYPE html>
<html>

    <head>

         <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
        <script src="{{ static_url(r'jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ static_url('result.js') }}" type="text/javascript"></script>
        <title>多重违纪行为识别展示Demo</title>
    </head>
    <body>
          <div style="float:left;width:200px">
        <h1>多重违纪行为识别展示Demo</h1>
        <form method="post" id='form'>
        <p>请输入你的文本:<br><br><textarea rows="10" cols="50" id="content" name="content">
        中国华融资产管理公司原党委书记、董事长赖小民被...。日前，中央纪委国家监委对中国华融资产管理股份有限公司原党委书记、董事长赖小民严重违纪违法问题进行了立案审查调查。 经查，赖小民违反政治纪律和政治规矩，违背中央金融工作方针政策，盲目扩张、无序经营导致公司严重偏离主责主业，不履行全面从严治党主体责任，造成恶劣政治影响；搞政治投机，为个人职务升迁拉关系，搞美化宣传个人，捞取政治资本，参加迷信活动，对抗组织审查。违反中央八项规定精神，讲排场、摆阔气，挥霍浪费国家财产，违规组织公款宴请，频繁在私人会所和高档餐厅接受私营企业主宴请，安排或接受下属单位公款接待亲属旅游。违反组织纪律，在人大代表选举和干部推荐过程中搞非组织活动，在干部选拔任用过程中任人唯权、任人唯利、任人唯圈，严重污染企业政治生态；在组织函询时不如实说明问题，不按规定报告个人有关事项。违反廉洁纪律，收受礼品、礼金，利用职权或职务影响为亲友经营活动谋利，与多名女性搞权色交易。违反工作纪律，违规决定公司重大事项，越级插手具体项目。利用职务上的便利或职权、地位形成的便利条件，为他人谋取利益并收受巨额财物涉嫌受贿犯罪；利用职务上的便利，非法占有公共财物涉嫌贪污犯罪。 赖小民身为党员领导干部，理想信念完全丧失，党性原则荡然无存，擅权妄为、腐化堕落、道德败坏、生活奢靡，甘于被“围猎”，严重违反党的纪律，构成职务违法并涉嫌犯罪，并在党的十八大后不收敛、不收手，且毫无顾忌、不知敬畏、变本加厉，政治问题与经济问题相互交织，群众反映特别强烈、腐败问题特别严重、性质特别恶劣，应予严肃处理。依据《中国共产党纪律处分条例》《中华人民共和国监察法》等有关规定，经中央纪委常委会会议研究，决定给予赖小民开除党籍处分；由国家监委给予其开除公职处分；收缴其违纪违法所得；将其涉嫌犯罪问题移送检察机关依法审查起诉，所涉财物随案移送。 编辑：林小英	组织迷信活动
        </textarea></p>

       <br><br><br><input id="sendBtn" type="button" value="提交">

        </form>
        </div>
     <div id="result" style="float:right;width:1100px"></div>
    </body>
</html>
